/**
 * Created with JetBrains WebStorm.
 * User: ze47zhk
 * Date: 26/8/16
 * Time: 9:51 AM
 * To change this template use File | Settings | File Templates.
 */

.search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}
#search-box{
    width: 200px;
    height: 20px;
}
